@{
    Layout = "_MainLayout";
}

@model Main;

<div>
    <div class="logo-gs-hitam">
        <img src="~/images/Logo-GS Hitam.png" />
    </div>
    <div class="visitor-container">
        <div>
            <img src="~/images/Icon-User.png" alt="user-male-circle" />
        </div>
        <a>
            @Model.userCount
        </a>
        <a>Pengunjung</a>
        <div>
            <img src="~/images/Icon-End.png" alt="logout-rounded" />
        </div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="End">End</a>
    </div>

    <div class="main-content-container">
        <label>HELLO, @Model.user.ToString().ToUpper()</label>
        <p>Cost Reduction Program (CRP)</p>
        <div id="main-content-menu">
            <div id="item-1" class="item">
                <img src="~/images/Icon-1.png" />
                <div id="text">Automation</div>
            </div>
            <div id="item-2" class="item">
                <img src="~/images/Icon-2.png" />
                <div id="text">Multisource Material</div>
            </div>
            <div id="item-3" class="item">
                <img src="~/images/Icon-3.png" />
                <div id="text">VA / VE</div>
            </div>
            <div id="item-4" class="item">
                <img src="~/images/Icon-4.png" />
                <div id="text">Reduce Rejection</div>
            </div>
            <div id="item-5" class="item">
                <img src="~/images/Icon-5.png" />
                <div id="text">Job Balancing</div>
            </div>
            <div id="item-6" class="item">
                <img src="~/images/Icon-6.png" />
                <div id="text">Increase Productivity</div>
            </div>

            <div class="watch-3-videos-container">
                <a id="watch-3-videos-link"><span style="color: #FC6F35; font-weight: bold;">Watch 3 videos</span> to spin the wheel!</a>
                <div id="video-watching-screen">
                    <video id="videoMain" src="~/videos/Video-Main.mp4" autoplay onloop muted></video>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var videosWatched = @Model.videoWatched;
        console.log(videosWatched);

        $("#item-1").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("Automation", "Main")';
        });

        $("#item-2").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("MultisourceMaterial", "Main")';
        });

        $("#item-3").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("VAVE", "Main")';
        });

        $("#item-4").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("ReduceRejection", "Main")';
        });

        $("#item-5").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("JobBalancing", "Main")';
        });

        $("#item-6").click(function (e) {
            e.preventDefault();
            document.location = '@Url.Action("IncreaseProductivity", "Main")';
        });

        var watchLink = document.getElementById('watch-3-videos-link');
        if (videosWatched == 1) {
            watchLink.innerHTML = '<span style="color: #FC6F35; font-weight: bold;"> Watch 2 videos </span> to spin the wheel!';
        }
        else if (videosWatched == 2) {
            watchLink.innerHTML = '<span style="color: #FC6F35; font-weight: bold;"> Watch 1 video </span> to spin the wheel!';
        }
        else if (videosWatched >= 3) {
            watchLink.innerHTML = 'You‘ve unlocked the wheel! <span style="color: #FC6F35; font-weight: bold;">Spin it now!</span>';
            watchLink.style.fontSize = '2.3vh';

            // Enable the link for clicking
            watchLink.onclick = function () {
                document.location = '@Url.Action("Index", "SpinWheel")';
            };
        }
    });

    let idleTime = 0;
    const idleTimeout = 300; // 5 minutes in seconds
    const homePageUrl = "/Home/Index"; // Adjust the URL of your home page

    const idleInterval = setInterval(timerIncrement, 1000);

    document.addEventListener('mousemove', resetIdleTime);
    document.addEventListener('keydown', resetIdleTime);

    function timerIncrement() {
        idleTime++;
        if (idleTime >= idleTimeout) {
            window.location.href = homePageUrl;
        }
    }

    function resetIdleTime() {
        idleTime = 0;
    }
</script>